<div class = "top_banner">
  <p class = "catch">
    深夜ラジオが好きなリスナーのための
  　</br>ネタメール投稿サイト
  </p>
</div>

<section class = "top_popular">
  <h2 class = "top_popular_title">
    人気の番組
  </h2>
  
  <ul class = "top_popular_lists">
    <li class = "top_popular_item">
      <a href = "/">
        <div class = "top_popular_img">
          <!--imgタグ-->
        </div>
        <div class = "top_popular_item_name">
          <p>番組名1</p>
        </div>
      </a>
    </li>
    <li class = "top_popular_item">
      <a href = "/">
        <div class = "top_popular_img">
          <!--imgタグ-->
        </div>
        <div class = "top_popular_item_name">
          <p>番組名2</p>
        </div>
      </a>
    </li>
    <li class = "top_popular_item">
      <a href = "/">
        <div class = "top_popular_img">
          <!--imgタグ-->
        </div>
        <div class = "top_popular_item_name">
          <p>番組名3</p>
        </div>
      </a>
    </li>
    <li class = "top_popular_item">
      <a href = "/">
        <div class = "top_popular_img">
          <!--imgタグ-->
        </div>
        <div class = "top_popular_item_name">
          <p>番組名4</p>
        </div>
      </a>
    </li>
    <li class = "top_popular_item">
      <a href = "/">
        <div class = "top_popular_img">
          <!--imgタグ-->
        </div>
        <div class = "top_popular_item_name">
          <p>番組名5</p>
        </div>
      </a>
    </li>
  </ul>
  <div class = "top_popular_more">
    <a class = "more_btn" href = "/">番組を検索</a>
  </div>
</section>

<section class = "top_popular">
  <h2 class = "top_popular_title">
    注目リスナー
  </h2>
  
  <ul class = "top_popular_lists">
    <li class = "top_popular_item">
      <a href = "/">
        <div class = "top_popular_img">
          <!--imgタグ-->
        </div>
        <div class = "top_popular_item_name">
          <p>リスナー1</p>
        </div>
      </a>
    </li>
    <li class = "top_popular_item">
      <a href = "/">
        <div class = "top_popular_img">
          <!--imgタグ-->
        </div>
        <div class = "top_popular_item_name">
          <p>リスナー2</p>
        </div>
      </a>
    </li>
    <li class = "top_popular_item">
      <a href = "/">
        <div class = "top_popular_img">
          <!--imgタグ-->
        </div>
        <div class = "top_popular_item_name">
          <p>リスナー3</p>
        </div>
      </a>
    </li>
    <li class = "top_popular_item">
      <a href = "/">
        <div class = "top_popular_img">
          <!--imgタグ-->
        </div>
        <div class = "top_popular_item_name">
          <p>リスナー4</p>
        </div>
      </a>
    </li>
    <li class = "top_popular_item">
      <a href = "/">
        <div class = "top_popular_img">
          <!--imgタグ-->
        </div>
        <div class = "top_popular_item_name">
          <p>リスナー5</p>
        </div>
      </a>
    </li>
  </ul>
  <div class = "top_popular_more">
    <a class = "more_btn" href = "/">リスナーを検索</a>
  </div>
</section>

<h2 class = "top_popular_title">
  新着ネタメール
</h2>
<section class = "neta">
  <div class = "listener_info_box">
    <a href = "/">
      <div class = "listener_image">
        <!--imgタグ-->
      </div>
      <p class = "listener_name">リスナー1 さん</p>
      <p class = "listener_info">男性 | 25歳 | 東京都</p>
    </a>
  </div>
  <div class = "neta_box">
    <div class = "neta_box_inner">
      <p class = "date">2021年3月1日 投稿</p>
      <p class = "program">番組名1</p>
      <p class = "corner">コーナー:コーナー名1</p>
      <p class = "theme">テーマ:テーマ名1</p>
      <div class = "neta_text_box">
        <p class = "neta_text">
        あああああああああああああああ
        </p>
        <div class = "evaluation">
          <%= image_tag 'good_icon.png' ,width: '30%', height: '60%' %>
          <p class = "good">いいね</p>
        </div>
      </div>
    </div>
  </div>
</section>